<!DOCTYPE html>
<html>
<head>
    <title>Journal Page</title>
    <link rel="stylesheet" href="journal.css">
</head>
<body>
    <p>
        <div style="text-align:left;">
            <button class="pastel-purple-button" onclick="window.location.href = 'home.html'">Home</button>
        </div>
    </p>
    <style>
        body {
          background-image: url('journal.jpg');
          background-repeat: no-repeat;
          background-attachment: fixed;
          background-size: 100% 100%;
        }
    </style>
</body>
</html>